@media (min-width: 576px) { 
    .carousel-image
    {
        max-height: 90vh !important;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .carousel-image
    {
        max-height: 90vh !important;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .carousel-image
    {
        max-height: 90vh !important;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .carousel-image
    {
        max-height: 100vh !important;
        overflow: hidden;
    }
}

@media (min-width: 1400px) {
    .carousel-image
    {
        max-height: 100vh !important;
        overflow: hidden;
    }
}